*{
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
.content {
    opacity: 0;
    height: 0;
    font-size: 0;
    border: 1px solid #000;
    margin-bottom: 4px;
    padding: 0px;
    transition: ease 0.5s;

}

.content.active {
    opacity: 1;
    height: 60px;
    font-size: 1.3rem;
    padding: 10px 25px;
}


.accLink {
    padding: 8px 10px;
    margin-bottom: 4px;
    font-size: 1.5rem;
    background-color: grey;
    color: black;
    width: 100%;
}
.accLink.active {
    background-color: black;
    color: white;
}