[data-theme="light"]{
    --bg-color: #fff;
    --text-color: #000;
}

[data-theme="dark"]{
    --bg-color: #000;
    --text-color: #fff;
}

body{
    background-color: var(--bg-color);
    color: var(--text-color);
}