div {
  display: flex;
  align-items:center;
  justify-content: flex-start;
}
span {
  display: inline-block;
  margin-left: 5px;
  font-style: italic;
}
button {
  box-sizing: border-box;
  appearance: none;
  background-color: #000;
  color: #FFF;
  padding: 5px 10px;
  border: 1px solid #FFF;
  border-radius: 6px;
}
button:disabled{
  background-color: #9D9D9D;
}